
@import url('https://fonts.googleapis.com/css2?family=Lateef&family=Lobster&display=swap');

body {
    font-family: 'Lateef', cursive;
}

nav {
    /* border-bottom: 1px solid black; */
    padding: 20px 40px 0px 40px;
    margin-left: 0px;
    margin-right: 40px;
}

.links {
    font-size: 30px;
    padding-right: 30px;
    /* text-decoration: none; */
    /* color: #A0C4E2; */
    color: #373F51;
    /* font-weight: 700; */
}

.logout-btn {
    border: none;
    /* border: 2px solid #373F51; */
    border-radius: 5px;
    font-size: 20px;
    background-color: #A0C4E2;
    color: white;
    font-weight: 700;
    font-family: 'Lateef', cursive;
}

.logout-btn:hover {
    cursor: pointer;
    background-color: #373F51;
    color: white;
}

h1 {
    font-size: 50px;
    margin: 20px;
    color: #373F51;
}
