@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

/* https://images.unsplash.com/photo-1574357675216-a7ce77356a2a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80 */

body {
  background: url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=2250&q=80") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
  color: floralwhite;
  font-family: 'IBM Plex Mono', monospace;
}

.lists{
  margin: 0 auto;
  width: 450px;
  background-color: rgb(0, 0, 0, 0.5);
  font-weight: 700;
  color: floralwhite;
}

img {
  height: 300px;
  width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.6);
  align-items: center;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.links {
  font-weight: 700;
  color: ghostwhite;
  text-decoration: none;
  font-size: 20px;
}

form {
  display: grid;
  height: 300px;
  width: 150px;
  margin: auto;
  padding-top: 100px;
}

h1 {
  font-size: 50px;
}

input {
  height: 40px;
  width: 160px;
  font-size: 25px;
  font: inherit;
  background-color: ivory;
  border: none;
}

select {
  height: 40px;
  width: 160px;
  font: inherit;
  font-weight: 300;
  font-size: 20px;
  background-color: ivory;
  border: none;
}

button {
  height: 50px;
  width: 160px;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  background-color: black;
  color: whitesmoke;
  border: none;
}



