@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

.auth {
    text-align: center;
}

.auth > h1 {
    font-size: 60px;
    background-color: #fbb02d;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    justify-content: space-evenly;
    margin: auto;
}

.auth-input {
    padding: 10px;
    color: black;
    background-color: transparent;
    border: 1.5px solid black;
    font-size: 20px;
}

.auth-button {
    padding: 5px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    font-family: 'Playfair Display', serif;
}

.auth-button:hover {
    background-color: rgb(0, 0, 0);
    color: ghostwhite;
    cursor: pointer;
}

.auth > p:hover {
    cursor: pointer;
}


