/* body {
    background-image: url("https://images.unsplash.com/photo-1526638684360-95cdcee762ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2720&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10% 35%;
    font-family: 'Playfair Display', serif;
} */