.book-form-container {
    margin: auto;
    width: 50%;
}

.book-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

.book-form > input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #373F51;
    border-radius: 7px;
}

.book-form > input:focus {
    outline-width: 0;
}

.add-btn {
    padding-left: 30px;
    padding-right: 30px;
    font-family: inherit;
    font-size: 20px;
    background-color: #373F51;
    color: white;
    border: none;
    margin: auto;
    font-weight: 700;
}

.add-btn:hover {
    cursor: pointer;
}

