@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
}


.navbar {
  display: flex;
  background-color: rgb(103,142,140, 0.3);
  justify-content: space-around;
  align-items: center;
  height: 90px;
  /* font-family: 'Syne Mono', monospace; */
  font-family: 'Playfair Display', serif;
}

.post {
  width: 80%;
  height: auto;
  margin: auto;
  background-color: rgb(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
}

.post:hover {
  cursor: pointer;
}






