@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

/* .App {
  text-align: center;
} */
body {
  background: #ffffff;
  font-family: 'Playfair Display', serif;
}


.navbar {
  display: flex;
  background-color: #fbb02d;
  color: #231942;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  font-family: 'Playfair Display', serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar > button {
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}







