.calculator {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 319px;
  width: 232px;
  background-color: #d7ecd9 ;
  border-radius: 20px;
  border: 2px solid #f6f6eb;
}

.screen {
  height: 100px;
  width: 350px;
  background-color: #f6f6eb;
  border-radius: 10px 10px 0px 0px;
  text-align: right;
  color: #32292F;
  font-size: 30px;
}