/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


/* colors: blue: #7acdc6   darkgrey: #4f4e4e   blackish: #1f1e1e   lightGrey: #9e9e9f  white: #fcfdfd*/
body {
  /* background-color: #f7fbfc; */
  background-color: #fcfdfd;
  font-family: 'Open Sans', sans-serif;
  color: darkslategray;
}
.App {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Karla', sans-serif; */
}

hr {
  border: 2px solid  rgb(109,215,204, 0.4);
  margin: 30px;
}

.header {
  font-size: 40px;
  /* font-family: 'Karla', sans-serif; */
  color: #1f1e1e;
  /* height: 200px; */
  /* line-height: 200px; */
  height: 200px;
  line-height: 100px;
}

.header > h1 {
  /* margin-top: 0; */
  padding-left: 80px;
}

/* .grid-container {
  padding: 5px 50px 30px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
} */

.profile {
  /* background-color: #b9d7ea; */
  padding: 5px 50px 30px;
}

#projects-container {
  padding: 5px 50px 30px;
}

.skills {
  /* background-color: #d6e6f2; */
  padding: 5px 50px 30px;
}

footer {
  padding: 5px 30px 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(109,215,204, 0.3);
  height: 50px;
  line-height: 80px;
}


span {
  display: block;
  font-size: 25px;
  /* color: #7acdc6; */
}

h2 {
  color: #1f1e1e;
  font-size: 30px;
  /* font-family: 'Karla', sans-serif; */
}

.headings {
  font-size: 40px;
}

a {
  text-decoration: none;
  font-size: 25px;
}


/* @media 520px */